{
  "encoders": [{
    "autoencoder": "data/models/SOME_CHIP_SEQ_AUTOENCODER.h5",
    "content_type": "chip-seq-h3k27ac-fc",
    "window_size": 12000,
    "resolution": 100,
    "channels": 1,
    "input_dim": 3,
    "latent_dim": 10
  }],
  "datasets": [{
    "filepath": "data/chip-seq/SOME_H3K27AC_DATASET.bigWig",
    "content_type": "chip-seq-h3k27ac-fc",
    "uuid": "some-h3k27c-dataset",
    "name": "Some H3K27ac dataset"
  }],
  "coords": "hg10",
  "chroms": ["chr1, chr2"],
  "step_freq": 2,
  "db_path": "examples/search.db"
}
