@import '../styles/colors';
@import '../styles/transitions';

.bar-chart {
  svg {
    width: 100%;
    height: 100%;
  }

  .y-gridlines line {
    stroke: #ddd;
  }

  .connecting-lines {
    fill: #999;
  }

  .base-circles {
    fill: #999;
    stroke: #fff;
  }

  .primary-circles-dot {
    fill: #fff;
  }

  .primary-circles {
    fill: steelblue;
    stroke: #fff;
  }
}
