@import "../styles/colors";

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1.5rem;
  padding: 0 0.5rem;
  background: $gray-lightest;

  button {
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    border-color: $white;
  }
}
