@import '../styles/colors';
@import '../styles/transitions';

.button {
  padding: 0.25em 0.5em;
  border: 0;
  border-radius: 0.25rem;
  background: $gray-lightest-rgba;
  transition: color $normal-transition $easing,
    box-shadow $normal-transition $easing, background $normal-transition $easing;
  user-select: none;

  &:hover {
    color: $black;
    background: $gray-lighter-rgba;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 0 $blue-highlight, 0 0 0 2px $blue-highlight;
  }

  &.is-disabled {
    color: $gray-medium;
    box-shadow: inset 0 0 0 1px $gray-lightest-rgba;
    background: transparent;
    pointer-events: none;
  }

  &.is-active {
    color: $white;
    background: $primary;
  }

  &.is-bold {
    font-weight: bold;
  }

  &.is-primary {
    color: $black;
    background: $gray-light-rgba;

    &:hover {
      color: $black;
      background: $gray-medium-rgba;
    }
  }

  &.is-highlight {
    color: $white;
    background: $gray-dark-rgba;

    &:hover {
      color: $white;
      background: $black;
    }
  }

  &.has-spinner {
    position: relative;

    &.is-disabled {
      background: $white;
    }

    .text {
      transition: opacity $normal-transition $easing;
    }

    &.is-spinning .text {
      opacity: 0;
    }
  }

  .spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.25rem;
    background: transparent;

    .one,
    .two {
      fill: $white;
    }
  }
}
