@import '../styles/colors';
@import '../styles/transitions';
@import '../styles/input-range';

.drop-down-slider {
  @include range($white);

  .drop-down-trigger button {
    width: 2.5rem;
    text-align: center;
  }

  .drop-down-content {
    z-index: 10;
    width: 10rem;
    margin: 0.2rem 0 0 1.25rem;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.25rem;
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.075);
    transform: translate(-50%, 0);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      margin: -0.5rem 0 0 -0.5rem;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.5rem 0.625rem 0.5rem;
      border-color: transparent transparent $white transparent;
    }
  }

  .drop-down-slider-max,
  .drop-down-slider-min {
    font-size: 0.75rem;
    width: 0.85rem;
  }

  .drop-down-slider-max {
    text-align: right;
  }

  .drop-down-slider-min {
    text-align: left;
  }

  input {
    z-index: 1;
  }

  .histogram {
    height: 4rem;
    margin: -0.5rem 0.85rem 0 0.85rem;
    transform: translate(0, 1px);

    div {
      background: $gray-lightest;
    }
  }

  &.reversed {
    input {
      direction: rtl;
    }

    .drop-down-slider-max {
      text-align: left;
    }

    .drop-down-slider-min {
      text-align: right;
    }

    .histogram {
      flex-direction: row-reverse;
    }
  }
}
