@import "../styles/colors";
@import "../styles/transitions";

/**
 * Copyright 2014, Call Me Nick
 *
 * https://github.com/callmenick/Animating-Hamburger-Icons
 *
 * Adjusted by Fritz Lekschas
 */

$button-width: 3rem; // The width of the button area
$button-height: 3rem; // The height of the button area
$bar-thickness: 0.135rem; // The thickness of the button bars
$button-pad: 0.5rem; // The left/right padding between button area and bars.
$button-bar-space: 0.375rem; // The spacing between button bars

.hamburger-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: transparent;

  &:focus {
    outline: none;
  }

  .hamburger,
  .hamburger-bg {
    display: block;
    width: $button-width;
    height: $button-height;
  }

  .hamburger {
    position: relative;
    z-index: 1;
    transition: background $fast-transition;

    span {
      top: ($button-height / 2) - ($bar-thickness / 2);
      left: $button-pad;
      right: $button-pad;
    }

    span::before,
    span::after {
      left: 0;
      width: 100%;
      content: "";
    }

    span,
    span::before,
    span::after {
      position: absolute;
      display: block;
      height: $bar-thickness;
      background: $gray-dark;
    }

    span::before {
      top: -$bar-thickness - $button-bar-space;
    }

    span::after {
      bottom: -$bar-thickness - $button-bar-space;
    }

    /**
     * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
     * down to center and transform into an "x".
     */

    &.hamburger-to-x span {
      transition: background 0s $fast-transition;
    }

    &.hamburger-to-x span::before,
    &.hamburger-to-x span::after {
      transition-duration: $fast-transition, $fast-transition, $fast-transition,
        $fast-transition, $fast-transition;
      transition-delay: $fast-transition, 0s, 0s, 0s, $fast-transition;
    }

    &.hamburger-to-x span::before {
      transition-property: top, transform, -moz-transform, -webkit-transform,
        background;
    }

    &.hamburger-to-x span::after {
      transition-property: bottom, transform, -moz-transform, -webkit-transform,
        background;
    }

    /* active state, i.e. menu open */

    &.hamburger-to-x.is-active span,
    &.hamburger-to-x.is-active span::before,
    &.hamburger-to-x.is-active span::after {
      background: $primary;
    }

    &.hamburger-to-x.is-active span {
      background: none;
    }

    &.hamburger-to-x.is-active span::before {
      top: 0;
      transform: rotate(45deg);
    }

    &.hamburger-to-x.is-active span::after {
      bottom: 0;
      transform: rotate(-45deg);
    }

    &.hamburger-to-x.is-active span::before,
    &.hamburger-to-x.is-active span::after {
      transition-delay: 0s, $fast-transition, $fast-transition;
    }
  }

  .hamburger-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    transition: opacity $fast-transition $easing;
  }
}
