@import '../styles/colors';

.message {
  position: relative;
  padding: 1rem;
  border-radius: 0.25rem;
  color: $gray-dark;
  background: $gray-lightest;

  &.message-info {
    color: $blue-dark;
    background: $blue-light;
  }

  &.message-warning {
    color: $yellow-dark;
    background: $yellow-light;
  }

  &.message-error {
    color: $pink-dark;
    background: $pink-light;
  }

  .icon {
    width: 3em;
    height: 3em;
  }

  p {
    margin: 1em 0 0 0;
  }
}
