@import '../styles/colors';
@import '../styles/transitions';

.tab-entry {
  &:first-child .tab-entry-header {
    margin-top: 0;
  }

  &.is-v-scrollable {
    position: relative;
  }
}

.tab-entry.is-v-scrollable .tab-entry-content {
  position: absolute;
  top: 0;
  right: -0.25rem;
  bottom: -0.25rem;
  left: 0;
  overflow: auto;
}

.tab-entry.is-v-scrollable.tab-entry-has-header .tab-entry-content {
  top: 1.75rem;
}

.tab-entry-header {
  margin: 0.2rem -0.25rem 0;
  padding: 0.2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  background: $gray-lighter;
  cursor: default;
  user-select: none;

  .icon {
    width: 0.8em;
    height: 1em;
    margin-right: 0.25rem;
  }
}
