@import '../styles/colors';
@import '../styles/ratio';
@import '../styles/transitions';

.search {
  .search-right-bar {
    top: 2rem;

    .search-right-bar-padding {
      padding: 0.25rem 0.125rem;

      .icon {
        width: 0.9em;
        height: 0.9em;
      }
    }

    .info-external {
      width: 1.25em;
      height: 1.25em;
      padding: 0;
    }

    .search-projection-reset {
      position: absolute;
      right: 0;
      bottom: 0;
      background: transparent;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    .bar-chart {
      height: 5rem;

      .primary-bars,
      .primary-bars-bottom {
        stroke: $gray-lightest;
      }
    }

    .bar-chart-x-axis {
      position: relative;
      height: 1rem;

      .bar-chart-x-axis-title {
        position: relative;
        color: $gray-medium;
        font-size: 0.7rem;
        line-height: 1rem;

        > span {
          padding: 0 0.5rem;
          background: $gray-lightest;
        }
      }

      .bar-chart-x-axis-bar {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        left: 0;
        height: 1px;
        background: $gray-light;
      }

      .bar-chart-x-axis-arrow {
        position: absolute;
        top: -0.25rem;
        right: -0.5rem;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 5px solid transparent;

        border-left: 10px solid $gray-light;
      }
    }
  }

  .sub-top-bar {
    font-size: 0.9rem;

    .button {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1.5rem;
    }

    .button-icon {
      min-width: 1.5rem;
      height: 1.5rem;
      border: 0;

      > span {
        line-height: 1.5rem;
      }
    }

    .button-radio {
      height: 1.5rem;
    }

    .sub-top-bottom-bar-buttons {
      .button {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }

      .button-icon {
        background: $gray-lighter;

        &.is-active {
          background: $primary;
        }

        &.is-disabled {
          background: none;
        }
      }
    }
  }

  .search-results {
    .higlass-list-single-higlass-instance {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 2.3rem;
      left: 0;

      .higlass-list-single-higlass-instance-list-wrapper {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: visible;
        overflow-y: auto;

        > .list {
          position: relative;
        }
      }

      .higlass-list-single-higlass-instance-list-wrapper::-webkit-scrollbar {
        width: 1.5rem;
      }

      .higlass-list-single-higlass-instance-list-wrapper::-webkit-scrollbar-track {
        background: transparent;
      }

      .higlass-list-single-higlass-instance-list-wrapper::-webkit-scrollbar-thumb {
        border: 0.5rem solid rgba(0, 0, 0, 0);
        border-radius: 1rem;
        background: $gray-lighter-rgba;
        background-clip: padding-box;
      }

      .higlass-list-single-higlass-instance-list-wrapper:hover::-webkit-scrollbar-thumb {
        background: $gray-medium-rgba;
        background-clip: padding-box;
      }

      .higlass-scroll-container {
        overflow: hidden;
      }
    }

    .with-pagination {
      // margin: 0.25rem 0 0.5rem 0;
    }

    .with-pagination-actions {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.9);
    }

    .with-pagination-next-prev {
      margin: 0.25rem 0.5rem;
      padding: 0.25rem 0.5rem;
      font-size: 1.125em;
    }

    .with-pagination-page-button,
    .with-pagination-page-button-current {
      margin: 0 0.125rem;
      background: transparent;

      &:hover,
      &.is-disabled {
        box-shadow: none;
      }

      &.is-disabled {
        color: $gray-light;
      }
    }

    .with-pagination-page-button-current {
      font-weight: bold;

      &:hover {
        color: inherit;
        cursor: default;
      }
    }

    .drop-down-menu.warning .drop-down-trigger .button-icon {
      color: $pink-dark;
      background: $pink-light;

      &.is-active {
        color: $white;
        background: $pink-dark;
      }
    }
  }

  .searches-metadata,
  .searches-progress {
    font-size: 0.85em;
    border-bottom: 1px solid $gray-lightest;
  }

  .searches-metadata {
    margin: 0 0.25rem;
    padding: 0.125rem 0;
  }

  .searches-name {
    font-weight: bold;
    box-shadow: none;
  }

  .searches-progress {
    padding: 0.125rem 0.25rem;
  }

  .searches-continue {
    position: absolute;
    display: block;
    bottom: 0;
    right: -1px;
    float: right;
    padding: 0.25em 0.5em;
    background: $gray-lightest;
    border-radius: 0.25rem 0 0.25rem 0;
    transition: color $fast-transition $easing,
      background $fast-transition $easing;
  }

  .search-tabs {
    position: absolute;
    top: 2rem;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .search-tab-triggers {
    font-size: 1rem;
    box-shadow: inset 0 -2px 0 0 $gray-lightest-rgba;
    background: $gray-lighter;

    .tab-trigger {
      margin: 0.25rem 2px 0 2px;
      transition: flex-grow $medium-transition $easing;

      &.flex-g-0 {
        margin: 0;
      }
    }

    .search-tab-trigger-selection {
      .button-icon {
        margin-left: 0.25rem;
        background: none;

        .icon {
          margin-left: 0;
        }
      }
    }

    .button {
      border: 0;
      border-radius: 0.25rem 0.25rem 0 0;
      background: transparent;

      &:hover {
        background: $gray-lightest-rgba;
        box-shadow: none;
      }

      &:focus {
        z-index: 2;
        outline: none;
        box-shadow: inset 0 0 0 2px $blue-highlight;
      }

      .button-icon {
        min-width: 1.25rem;
        height: 1.25rem;
        background: $gray-lightest-rgba;

        &.button-icon-only {
          width: 1.25rem;
        }

        .icon {
          width: 1rem;
          height: 1rem;
          color: $gray-dark-rgba;
          background: none;
        }

        &:hover,
        &:active,
        &:focus {
          background: $gray-lighter-rgba;

          .icon {
            color: $black;
          }
        }
      }

      &.is-active {
        margin-bottom: 0;
        color: $black;
        font-weight: bold;
        background: $gray-lightest;
        box-shadow: 0 0 0 2px $gray-lightest-rgba;

        &:focus {
          box-shadow: 0 0 0 2px $gray-lightest-rgba,
            inset 0 0 0 2px $blue-highlight;
        }

        .button-icon {
          min-width: 1.25rem;
          height: 1.25rem;
          background: $black;

          &.button-icon-only {
            width: 1.25rem;
          }

          .icon {
            width: 1rem;
            height: 1rem;
            color: $gray-lightest;
            background: none;
          }
        }
      }

      &.no-w {
        display: none;
      }

      .icon {
        margin-left: 0.25rem;
        width: 1em;
        height: 1em;
        color: $gray-lighter;
        border-radius: 0.25rem;
        background: $gray-dark;

        svg {
          margin: 20%;
          width: 60%;
          height: 60%;
        }
      }
    }
  }

  .search-tab-wrapper .sub-top-bar .fulfilled {
    font-weight: bold;
  }

  .search-tab-content {
    position: absolute;
    top: 2rem;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
  }

  .higlass-list > li:hover .searches-continue {
    color: $white;
    background: $primary;
  }

  .search-projection-wrapper {
    @include ratio(1);

    max-height: 20rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px $gray-lighter;

    .message .icon {
      width: 2rem;
      height: 2rem;
    }

    .message-default {
      padding: 0;
      background: none;
    }
  }

  .search-projection canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gray-lightest;
    border-radius: 0.25rem;
  }

  .colormap {
    position: relative;

    li:first-child {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    li:last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }

    .colormap-positive,
    .colormap-negative,
    .colormap-unlabled,
    .colormap-target,
    .colormap-0,
    .colormap-1,
    .colormap-2,
    .colormap-3,
    .colormap-4,
    .colormap-5,
    .colormap-6,
    .colormap-0-label,
    .colormap-3-label,
    .colormap-6-label {
      position: relative;
      height: 1.125rem;
      text-align: center;
      transition: box-shadow $fast-transition $easing,
        opacity $fast-transition $easing;

      &.active {
        z-index: 10;
      }

      &.inactive {
        opacity: 0.33;
      }

      > span {
        font-size: 0.7rem;
        font-weight: bold;
        line-height: 1.125rem;
      }
    }

    .colormap-positive:before,
    .colormap-negative:before,
    .colormap-unlabled:before,
    .colormap-target:before,
    .colormap-0:before,
    .colormap-1:before,
    .colormap-2:before,
    .colormap-3:before,
    .colormap-4:before,
    .colormap-5:before,
    .colormap-6:before,
    .colormap-0-label:before,
    .colormap-3-label:before,
    .colormap-6-label:before {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 0.675rem;
      line-height: 1.125rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .colormap-positive {
      color: $white;
      background: $blue;

      &:before {
        content: 'Positive';
      }

      &.active {
        box-shadow: 0 0 0 1px $primary, 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;
      }
    }

    .colormap-negative {
      color: $white;
      background: $pink;

      &:before {
        content: 'Negative';
      }

      &.active {
        box-shadow: 0 0 0 1px $pink, 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;
      }
    }

    .colormap-unlabled {
      color: $white;
      background: $gray-medium;

      &:before {
        content: 'Unlabled';
      }

      &.active {
        box-shadow: 0 0 0 1px $gray-medium, 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;
      }
    }

    .colormap-target {
      color: $white;
      background: $black;

      &:before {
        content: 'Target';
      }

      &.active {
        box-shadow: 0 0 0 1px $black, 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;
      }
    }

    .colormap-0 {
      color: $black;
      background: rgb(216, 216, 216);

      &:before {
        content: '0';
      }

      &.active {
        box-shadow: 0 0 0 1px rgb(216, 216, 216), 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;

        &:before {
          content: '';
        }
      }
    }

    .colormap-1 {
      color: $black;
      background: rgb(186, 186, 186);

      &.active {
        box-shadow: 0 0 0 1px rgb(186, 186, 186), 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;
      }
    }

    .colormap-2 {
      color: $black;
      background: rgb(157, 157, 157);

      &.active {
        box-shadow: 0 0 0 1px rgb(157, 157, 157), 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;
      }
    }

    .colormap-3 {
      color: $black;
      background: rgb(127, 127, 127);

      &:before {
        content: '0.5';
      }

      &.active {
        box-shadow: 0 0 0 1px rgb(127, 127, 127), 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;

        &:before {
          content: '';
        }
      }
    }

    .colormap-4 {
      color: $white;
      background: rgb(85, 118, 141);

      &.active {
        box-shadow: 0 0 0 1px rgb(85, 118, 141), 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;
      }
    }

    .colormap-5 {
      color: $white;
      background: rgb(43, 109, 154);

      &.active {
        box-shadow: 0 0 0 1px rgb(43, 109, 154), 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;
      }
    }

    .colormap-6 {
      color: $white;
      background: rgb(0, 100, 168);

      &:before {
        content: '1';
      }

      &.active {
        box-shadow: 0 0 0 1px rgb(0, 100, 168), 0 0 0 2px $white,
          0 0 5px 3px $gray-lighter-rgba;

        &:before {
          content: '';
        }
      }
    }

    .colormap-0-label:before {
      content: 'Negative';
      text-align: left;
    }

    .colormap-3-label:before {
      content: 'Uncertain';
    }

    .colormap-6-label:before {
      content: 'Positive';
      text-align: right;
    }
  }
}
