@import 'colors';
@import 'transitions';

@mixin range($bg) {
  input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    background: $gray-lighter;
    border: 0;
    border-radius: 0.1rem;
    box-shadow: inset 0 0.375rem 0 0 $bg, inset 0 -0.375rem 0 0 $bg;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 1rem;
    width: 0.25rem;
    background: $gray-medium;
    cursor: pointer;
    -webkit-appearance: none;
    // margin-top: -0.375rem;
    border: 0;
    border-radius: 0.25rem;
    transition: transform $fast-transition $easing,
                background $fast-transition $easing,;

    &:active,
    &:focus,
    &:hover {
      background: $black;
      transform: scaleX(1.5);
    }
  }

  input[type=range]:hover::-webkit-slider-thumb {
    background: $black;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $gray-lighter;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    border: 0;
    background: $gray-lighter;
    box-shadow: inset 0 0.375rem 0 0 $bg, inset 0 -0.375rem 0 0 $bg;
  }

  input[type=range]::-moz-range-thumb {
    border: 0;
    height: 1rem;
    width: 0.25rem;
    background: $gray-medium;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 0.25rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border: 0;
  }

  input[type=range]::-ms-fill-lower {
    background: $gray-lighter;
  }

  input[type=range]::-ms-fill-upper {
    background: $gray-lighter;
  }

  input[type=range]::-ms-thumb {
    border: 0;
    height: 2rem;
    width: 0.25rem;
    background: $gray-medium;
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: $gray-lighter;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: $gray-lighter;
  }
}
