$easing: cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in-out-cubic: cubic-bezier(0.3, 0.1, 0.6, 1);
$ease-in-out-quadric: cubic-bezier(0.2, 0.1, 0.2, 1);

$fast-transition: 0.15s;
$normal-transition: 0.2s;
$medium-transition: 0.3s;
$slow-transition: 0.6s;
