{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "airbnb/base",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "globals": {
    "expect": false,
    "HGAC_SERVER": false,
    "HGAC_SERVER_PORT": false,
    "it": false,
    "VERSION_PEAX": false,
    "VERSION_HIGLASS": false
  },
  "settings": {
    "react": {
      "version": "16.6"
    }
  },
  "rules": {
    "class-methods-use-this": [
      "off",
      {
        "exceptMethods": [
          "componentWillMount",
          "componentDidMount",
          "componentWillUnmount",
          "componentDidUnmount",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentShouldUpdate",
          "render"
        ]
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "warn",
    "no-console": "warn",
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "prefer-destructuring": 0
  }
}
